@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --bgcolor: #0B132B;
    --color-theme: black;
}
:root[data-momento="manha"] {
    --bgcolor: #ffd500;
    --color-theme: black;
}
:root[data-momento="tarde"] {
    --bgcolor: #05a3ff;
    --color-theme: white;
}
:root[data-momento="noite"] {
    --bgcolor: #0B132B;
    --color-theme: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    color: #E0E6ED;
}
.container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: auto;
        grid-template-rows: 200px 1fr auto;
}
header {
    grid-row: 1;
    display: flex;
    background-image: linear-gradient(to bottom, var(--color-theme), var(--bgcolor));
    flex-wrap: wrap;
    padding: 4vw;
    gap: 3vw;
}
.titulo {
    width: 100%;
    background-color: #1C2541;
    text-align: center;
    align-content: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
}
.info {
    width: 100%;
    background-color: #1C2541;
    text-align: center;
    align-content: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
}
#clock {
    font-size: 2.1rem;
}
#data {
    font-size: 1.5rem;
}
#momento {
    font-size: 1.3rem;
}
section {
    display: none;
}
aside {
    display: none;
}
main {
    height: 100%;
    grid-row: 2;
    display: flex;
    background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
    flex-wrap: wrap;
    padding: 4vw;
}
.links {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh;
    gap: 5%;
}
main a {
    background-color: #3b4153;
    text-decoration: none;
    flex-wrap: wrap;
    width: 30%;
    height: 40%;
    justify-content: center;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    border: black 2px solid;
    align-content: center;
}
.imgLinks {
    width: 80%;
    aspect-ratio: 1/1;
}
.history {
    background-color: #0B132B;
    color: #E0E6ED;
}
#historico {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#main {
    width: 100%;
    height: 100%;
    background-color: #1C2541;
    text-align: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
    padding: 0 2vh;
    padding-bottom: 8vh;
}
input {
    margin-top: 4vw;
    width: calc(100% - 8vw);
    background-color: transparent;
    border: #9FE7F5 solid 2px;
    border-radius: 20px;
    padding-left: 8px;
    outline: none;
    cursor: text;
    color: #E0E6ED;
    height: 1.5rem;
    font-size: 1.1rem;
}
footer {
    grid-row: 3;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
footer p {
    width: 100%;
}
/* Tablets */
@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
    /* Body e containter */
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 1fr auto;
    }
    /* Header */
    header {
        grid-column: 1 / 3;
    }
    /* Titulo */

    /* Horário */

    /* Section */
    section {
        display: flex;
        grid-column: 2;
        grid-row: 2;
        background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
        padding: 4vw;
        color: black;
    }
    .sessao {
        background-color: #1C2541;
        text-align: center;
        border: 2px solid #9FE7F5;
        border-radius: 20px;
        padding: 2vh 2vh;
    }
    .addBnt {
        position: absolute;
        background-color: wheat;
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        align-content: center;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    /* Main */

    /* Footer */
    footer {
        grid-column: 1 / 3;
    }
}
/* Desktop comum */
@media (min-width: 1024px) and (max-width: 1279px) {
    main {
        background-image: linear-gradient(to top, white, green, green);
    }
}
/* Desktop grande */
@media (min-width: 1280px) and (max-width: 1439px) {
    
}
/* Telas Largas */
@media (min-width: 1440px) and (max-width: 1920px) {
    
}