@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --bgcolor: #0B132B;
    --color-theme: black;
}
:root[data-momento="manha"] {
    --bgcolor: #ffd500;
    --color-theme: black;
}
:root[data-momento="tarde"] {
    --bgcolor: #05a3ff;
    --color-theme: white;
}
:root[data-momento="noite"] {
    --bgcolor: #0B132B;
    --color-theme: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    height: 100vh;
    height: 100svh;
    height: 100dvh;
    color: #E0E6ED;
}
.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 200px 1fr auto;
}
header {
    grid-row: 1;
    display: flex;
    background-image: linear-gradient(to bottom, var(--color-theme), var(--bgcolor));
    flex-wrap: wrap;
    padding: 1rem 4rem;
    gap: 3vw;
}
.titulo {
    width: 100%;
    background-color: #1C2541;
    text-align: center;
    align-content: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
}
.info {
    width: 100%;
    background-color: #1C2541;
    text-align: center;
    align-content: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
}
#clock {
    font-size: 2.1em;
}
#data {
    font-size: 1.5em;
}
#momento {
    font-size: 1.3em;
}
section {
    display: none;
}
aside {
    display: none;
}
#main {
    width: 100%;
    height: 100%;
    background-color: #1C2541;
    text-align: center;
    border: 2px solid #9FE7F5;
    border-radius: 20px;
    padding: 0 1rem;
    padding-bottom: 8vh;
    overflow-y: auto;
}
main {
    height: 100%;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1rem;
    background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
    flex-wrap: wrap;
    padding: 1rem 3rem 2rem;
    overflow-y: auto;
    justify-items: center;
}
.links {
    align-items: center;
    height: auto;
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 2vh 2vh 0;
    gap: 5%;
    row-gap: 1rem;
    justify-content: center;
}
main a {
    background-color: #3b4153;
    text-decoration: none;
    flex-wrap: wrap;
    width: 30%;
    aspect-ratio: 1/1.4;
    justify-content: center;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    border: black 2px solid;
    align-content: center;
}
.inputSearch {
    display: block;
    justify-self: center;
    margin-top: 4vw;
    width: calc(100% - 8vw);
    background-color: transparent;
    border: #9FE7F5 solid 2px;
    border-radius: 20px;
    padding-left: 8px;
    outline: none;
    cursor: text;
    color: #E0E6ED;
    height: 1.5em;
    font-size: 1.1rem;
}
.imgLinks {
    width: 80%;
    aspect-ratio: 1/1;
}
.history {
    background-color: #0B132B;
    color: #E0E6ED;
}
#historico {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
footer {
    grid-row: 3;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
footer p {
    width: 100%;
}
/* Tablets */
@media (min-width: 768px) {
    /* Body e containter */
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 1fr auto;
    }
    /* Header */
    header {
        grid-column: 1 / 3;
        font-size: 1.5rem;
    }
    /* Titulo */

    /* Horário */
    /* Main */
    .inputSearch {
        font-size: 1.5em;
        margin: 2rem 0;
        width: calc(90%);
        border: #9FE7F5 solid 2px;
        height: 1.4em;
    }
    main {
        height: 100%;
        grid-row: 2;
        display: grid;
        grid-template-rows: auto 1fr;
        row-gap: 1.25rem;
        background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
        flex-wrap: wrap;
        padding: 0 2rem;
    }
    .links {
        align-items: center;
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-content: center;
    }
    main a {
        background-color: #3b4153;
        text-decoration: none;
        flex-wrap: wrap;
        width: 30%;
        aspect-ratio: 1/1.4;
        justify-content: center;
        color: black;
        font-weight: bold;
        border-radius: 25px;
        border: black 2px solid;
        align-content: center;
    }

    /* Section */
    section {
        display: flex;
        grid-column: 2;
        grid-row: 2;
        background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
        padding: 4vw;
        padding: 0 2rem;
        color: white;
        position: relative;
        width: 100%;
        overflow-y: auto;
    }
    .sessao {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: #1C2541;
        text-align: center;
        border: 2px solid #9FE7F5;
        border-radius: 20px;
        padding: 2vh 2vh;
        width: 100%;
        gap: 1rem;
        font-size: 1.5em;
        overflow-y: scroll;
    }
    .addBnt {
        position: absolute;
        background-color: wheat;
        width: 40px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        align-content: center;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        right: 0;
        margin-right: 5vw;
        margin-top: 1vw;
        cursor: pointer;
    }
    .tasks {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 5%;
        width: 100%;
        background-color: #0B132B;
        font-size: 1.2rem;
        border: black 2px solid;
        border-radius: 15px;
        padding: 0.5rem;
        white-space: normal;
        overflow-wrap: anywhere;
    }
    .inputTasks {
        width: 100%;
        background-color: transparent;
        border: #9FE7F5 solid 2px;
        border-radius: 20px;
        padding-left: 8px;
        outline: none;
        cursor: text;
        color: #E0E6ED;
        height: 1.5rem;
        font-size: 1.1rem;
    }
    .editButton {
        margin-top: 3%;
        width: 10%;
        aspect-ratio: 1/1;
        background-color: #0B132B;
        border-radius: 8px;
        border: #05a3ff 1px solid;
    }
    /* Main */

    /* Footer */
    footer {
        grid-column: 1 / 3;
    }
}
/* Desktop comum */
@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 35% 1fr 50px;
    }
    aside {
        display: block;
        background-color: brown;
        grid-column: 4;
        grid-row: 2;
        background-image: linear-gradient(to top, var(--color-theme), var(--bgcolor), var(--bgcolor));
    }
    header {
        grid-column: 1 / 5;
        grid-row: 1;
        flex-direction: column;
    }
    .titulo {
        width: 30%;
        height: 70%;
    }
    .info {
        width: 70%;
        height: 90%;
    }
    main {
        grid-column: 2 / 4;
        grid-row: 2;
        overflow-y: auto;
    }
    #main {
        overflow-y: auto;
    }
    .links {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        align-content: center;
    }
    main a {
        background-color: #3b4153;
        text-decoration: none;
        flex-wrap: wrap;
        width: 20%;
        justify-content: center;
        color: black;
        font-weight: bold;
        border-radius: 25px;
        border: black 2px solid;
        align-content: center;
    }
    section {
        grid-column: 1;
        grid-row: 2;
        overflow-y: auto;
    }
    .sessao {
        overflow-y: auto;
    }
    footer {
        grid-column: 1 / 5;
        grid-row: 3;
    }

}
/* Desktop grande */
@media (min-width: 1280px) {
    
}
/* Telas Largas */
@media (min-width: 1440px) {
    
}